<table class="driversTable" style="width:30%">
    <tr>
        <th>Name</th>
        <th>Constructor</th>
    </tr>
    <tr ng-repeat="dTuple in $ctrl.drivers" ng-click="$ctrl.rowClicked(dTuple[1])">
        <td>
            <svg width="8" height="16">
                <rect width="7" height="20" style="fill:{{dTuple[1].color}};stroke-width:1;stroke:rgb(0,0,0)"></rect>
            </svg>
            {{dTuple[1].name}}</td>
        <td>{{dTuple[1].constructor}}</td>
    </tr>
</table>
<style>
    table {
        margin: 10px 0 0 0;
        border-collapse: collapse;
        float: left;
        background-color: #999999;
    }
    th, td { 
        text-align: left;
        font-size: 18px;
        padding: 4px
    }
    th {
        background-color: #666666;
    }
    tr {
        border: 1px solid #333333;
    }
</style>